* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: black;
}

.button-container {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .description {
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.container .table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.container img {
    width: 100%;
}

.container td {
    border: 2px solid #fff;
    width: 500px;
    height: 100px;
    color: white;
}

.container p {
    text-align: center;
    color: white;
    font-size: large;
    text-decoration: underline;
}

.container .item-1 {
    color: red;
}

.container .item-2 {
    color: orange;
}

.container .item-3 {
    color: yellow;
}

.button-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container .button {
    color: white;
}

.button {
    min-width: 300px;
    min-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: rgb(99, 51, 255);
    background: linear-gradient(90deg, 
    rgb(99, 51, 255) 100%);
    border: none;
    border-radius: 15px;
    box-shadow: 12px 12px 24px rgba(99, 51, 255, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button:hover {
    background-color: white;
    color: black;
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 3px solid rgb(99, 51, 255);
}

